%% == Erlang Compiler ==

{erl_opts, [
  warn_unused_vars,
  warnings_as_errors,
  nowarn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
%%  warn_missing_spec,
%%  warn_untyped_record,
  debug_info
]}.

%% == Dependencies ==

{deps, []}.

%% == shell ==

{shell, [{apps, [cached]}]}.

%% == profiles ==

{profiles, [{docs,
             [{deps, [
                      {edown,
                       {git, "https://github.com/uwiger/edown.git",
                        {tag, "0.7"}}}
             ]},

              {edoc_opts, [{doclet, edown_doclet},
                           {packages, false},
                           {subpackages, true},
                           {top_level_readme,
                            {"./README.md", "http://github.com/barrel-db/hooks"}}]}
             ]}]}.

%% == Cover ==

{cover_enabled, true}.
{cover_opts, [verbose]}.

%% == Common Test ==

{ct_compile_opts, [
  warn_unused_vars,
  nowarn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  %%warn_export_vars,
  %%warn_exported_vars,
  %%warn_missing_spec,
  %%warn_untyped_record,
  debug_info
]}.

{ct_opts, [
%  {sys_config, ["config/test.config"]}
]}.


%% == Dialyzer ==
%%
{dialyzer, [
  {warnings, [
    race_conditions,
    no_return,
    unmatched_returns,
    error_handling%,
    %unknown
  ]},
  {plt_apps, top_level_deps},
  {plt_extra_apps, []},
  {plt_location, local},
  {plt_prefix, "hooks"},
  {base_plt_location, "."},
  {base_plt_prefix, "hooks"}
]}.
