%% == Erlang Compiler ==

{erl_opts, [
  warn_unused_vars,
  warnings_as_errors,
  nowarn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
%%  warn_missing_spec,
%%  warn_untyped_record,
  debug_info
]}.

%% == Dependencies ==

{deps, []}.

%% == shell ==

{shell, [{apps, [cached]}]}.

%% == profiles ==

{profiles, [{docs,
             [{deps, [
                      {ex_doc, "~> 0.31.0", {runtime, false}}
             ]},
              {ex_doc, [
                {extras, ["README.md", "NEWS.md", "LICENSE"]},
                {main, "readme"},
                {source_url, "https://github.com/benoitc/hooks"}
              ]}
             ]}]}.


{project_plugins, [rebar3_ex_doc]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"NEWS.md", #{title => "Changelog"}},
        {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/benoitc/hooks"}
]}.



{hex, [{doc, ex_doc}]}.

%% == Cover ==

{cover_enabled, true}.
{cover_opts, [verbose]}.

%% == Common Test ==

{ct_compile_opts, [
  warn_unused_vars,
  nowarn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  %%warn_export_vars,
  %%warn_exported_vars,
  %%warn_missing_spec,
  %%warn_untyped_record,
  debug_info
]}.

{ct_opts, [
%  {sys_config, ["config/test.config"]}
]}.


%% == Dialyzer ==
%%
{dialyzer, [
  {warnings, [
    no_return,
    unmatched_returns,
    error_handling%,
    %unknown
  ]},
  {plt_apps, top_level_deps},
  {plt_extra_apps, []},
  {plt_location, local},
  {plt_prefix, "hooks"},
  {base_plt_location, "."},
  {base_plt_prefix, "hooks"}
]}.
